<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="add-record.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
         <form action="" method="post">
            <label for="studentid">Student ID</label>
            <input type="text" name="studentid" id="studentid">

            <label for="term">Term</label>
            <input type="text" name="term" id="term">

            <label for="subject1">Subject 1</label>
            <input type="text" name="subject1" id="subject1">

            <label for="subject2">Subject 2</label>
            <input type="text" name="subject2" id="subject2">

            <label for="subject3">Subject 3</label>
            <input type="text" name="subject3" id="subject3">

            <label for="grade">Grade</label>
            <input type="text" name="grade" id="grade">

            <label for="result">Result</label>
            <input type="text" name="result" id="result">

            <button>Add</button>

         </form>
	</div>
</body>
</html>